<% include ./src/partials/_header %>
    <div class="wrapper">
        <div class="content">
            <img src="<%= require('../images/logo_white_250.png') %>" alt="Logo">
            <h1 style="padding: 20px; color: white;">Hello Webpack!</h1>
            <h2 style="padding: 20px; color: white;">Contents</h2>
        </div>
    </div>
<% include ./src/partials/_footer %>
