<% include ./src/partials/_header.ejs %>
    <div class="wrapper">
        <div class="content">
            <img src="<%= require('./images/logo_white_250.png') %>" alt="Logo">
            <h1 style="padding: 20px; color: white; text-align: center;">Hello Webpack!</h1>
        </div>
    </div>
<% include ./src/partials/_footer.ejs %>
